<div class="comments_list">
    {% if messages %}
        {% for message in messages %}
            {% if 'error' in message.tags %}
            <div class="alert alert-danger" role="alert">
            {% else %}
            <div class="alert alert-{{ message.tags }}" role="alert">
            {% endif%}
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% for comment in post.comments.all reversed %}
        <div class="card mb-3">
            <div class="card-body">
                <h6 class="card-title">By {{ comment.user.username }} - {{ comment.created_date }}
                    {% if comment.user == request.user %}
                        <a href="{% url 'editor:comment.delete' post.slug comment.id %}" class="btn btn-danger delete-comment">Delete</a>
                    {% endif %}
                </h6>
                <p class="card-text">{{ comment.content }}</p>
            </div>
        </div>
    {% endfor %}
</div>