{% include '../partials/head.html' %}

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">

    <div class="container mt-3 mb-5 pb-5">
        <div class="col">
            <form action="{% url 'editor:post.create' %}" method="POST">
                {% csrf_token %}
                {% if form %}
                    {% if messages %}
                        <div class="mb-3">
                            <div class="alert alert-success" role="alert">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% load widget_tweaks %}
                    <h2>Create new post</h2>
                    <div class="mb-3">
                        <label for="id_title" class="form-label">Title</label>
                        {% render_field form.title class="form-control" %}
                    </div>
                    <!-- Slug -->
                    <div class="mb-3">
                        <label for="id_slug" class="form-label">Slug</label>
                        {% render_field form.slug class="form-control" %}
                    </div>
                    <!-- Description -->
                    <div class="mb-3">
                        <label for="id_description" class="form-label">Description</label>
                        {% render_field form.description class="form-control" %}
                    </div>
                    <!-- Keywords -->
                    <div class="mb-3">
                        <label for="id_keyword" class="form-label">Keywords</label>
                        {% render_field form.keyword class="form-control" %}
                    </div>
                    <!-- Published date -->
                    <div class="mb-3">
                        <label for="id_pub_date" class="form-label">Published date</label>
                        {% render_field form.pub_date class="form-control" type="datetime-local" %}
                    </div>
                    <!-- Content -->
                    <div class="mb-3">
                        <label for="editor" class="form-label"><h3>Content</h3></label>
                        <div class="mb-3">
                            <label for="id_file">Import from file: </label>
                            <input class="form-control" id="id_file" type="file" placeholder="Import from file">
                        </div>
                        <div id="editor"></div>
                        <input type="hidden" name="content" value="{{ form.content.value | default_if_none:'' }}">
                    </div>

                    {% if error or form.errors %}
                        <div class="mb-3">
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                                {{ form.errors }}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <!-- Reset button -->
                <button type="reset" class="btn btn-danger">Reset</button>
            </form>
        </div>
    </div>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
        
        const Editor = toastui.Editor;

        const editor = new Editor({
            el: document.querySelector('#editor'),
            height: '500px',
            initialValue: document.querySelector("form input[name='content']").value,
            initialEditType: 'wysiwyg',
            previewStyle: 'vertical'
        });

        document.querySelector("form").addEventListener('submit', e => {
            e.preventDefault();
            document.querySelector("form input[name='content']").value = editor.getMarkdown();
            document.querySelector("form").submit();
        })

        document.querySelector('#id_file').addEventListener('change', async (event) => {
            const file = event.target.files.item(0)
            const rawStr = await file.text()
            const encodedStr = rawStr.replace(/[\u00A0-\u9999<>\&]/g, i => '&#'+i.charCodeAt(0)+';')
            
            editor.setMarkdown(encodedStr)
        });

    </script>
    <script type="module">
        import slug from 'https://cdn.jsdelivr.net/npm/slug@8.2.3/+esm';

        document.querySelector('#id_title').addEventListener('focusout', e => {
            document.querySelector('#id_slug').value = slug(document.querySelector('#id_title').value);
        })
    </script>
{% include '../partials/foot.html' %}