{% include '../partials/head.html' %}

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">

    <div class="container mt-3 mb-5 pb-5">
        <div class="col">
            {% if post.author is request.user %}
                <form action="{% url 'editor:post.delete' post.slug %}" method="POST">
                    <h2>Warning!</h2>
                    {% csrf_token %}
                    Are you sure you want to delete this post? This action is irreversible.
                    <button class="btn btn-danger">Confirm</button>
                    <a href="{% url 'editor:post.view' post.slug %}" class="btn btn-info">Go back to post view</a>
                </form>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    You don't have permission to delete this post. Only this post's author can delete their post.
                    <a href="{% url 'editor:post.view' post.slug %}" class="btn btn-info">Go back to post view</a>
                </div>
            {% endif %}
        </div>
    </div>
{% include '../partials/foot.html' %}