{% include '../partials/head.html' %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">

    <div class="container mt-5 mb-5">
        {% if post %}
            <div class="row">
                <div class="col col-lg-8 col-md-8 col-sm-12">
                    <h2>{{ post.title }}</h2>
                    <p>
                        <abbr title="Updated at {{ post.updated_date }}">First created at {{ post.pub_date }}</abbr>
                        -
                        by {{ post.author }}
                        {% if request.user == post.author %}
                            <a href="{% url 'editor:post.update' post.slug %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'editor:post.delete' post.slug %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </p>
                    <hr>
                    <input type="hidden" value="{{ post.content }}" id="post_content">
                    <article>
                        
                    </article>
                    <section id="author">
                        <h2>{{ post.author.name }}</h2>
                    </section>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-12">
                    <section id="comments">
                        <h2>Comments</h2>
                    </section>
                </div>
            </div>
        {% else %}
            <p>Post not found</p>
        {% endif %}
    </div>

    <script type="module">
        import { Marked } from 'https://cdn.jsdelivr.net/npm/marked@12.0.0/+esm';
        import { markedHighlight } from 'https://cdn.jsdelivr.net/npm/marked-highlight@2.1.1/+esm'
        import dompurify from 'https://cdn.jsdelivr.net/npm/dompurify@3.0.9/+esm';
        import hljs from 'https://cdn.jsdelivr.net/npm/highlight.js@11.9.0/+esm'

        const marked = new Marked(
            markedHighlight({
                langPrefix: 'hljs language-',
                highlight(code, lang, info) {
                    const language = hljs.getLanguage(lang) ? lang : 'plaintext';
                    return hljs.highlight(code, { language }).value;
                }
            })
        );

        const DOMPurify = dompurify;

        const content = document.querySelector('#post_content').value;
        document.querySelector('article').innerHTML = DOMPurify.sanitize(marked.parse(content));
    </script>

{% include '../partials/foot.html' %}