{% include '../partials/head.html' %}

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

    <div class="container mt-3 mb-5 pb-5">
        <div class="col">
            {% if post.author == request.user %}
                <form action="{% url 'editor:post.update' post.slug %}" method="POST">
                    {% csrf_token %}
                    {% if form %}
                        {% if messages %}
                            <div class="mb-3">
                                <div class="alert alert-success" role="alert">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% load widget_tweaks %}
                        <h2>Update post <a href="{% url 'editor:post.view' post.slug %}" class="btn btn-primary">View post</a></h2>
                        <div class="mb-3">
                            <label for="id_title" class="form-label">Title</label>
                            {% render_field form.title class="form-control" %}
                        </div>
                        <!-- Slug -->
                        <div class="mb-3">
                            <label for="id_slug" class="form-label">Slug (Leave it empty to generate a new one)</label>
                            {% render_field form.slug class="form-control"%}
                        </div>
                        <!-- Description -->
                        <div class="mb-3">
                            <label for="id_description" class="form-label">Description</label>
                            {% render_field form.description class="form-control" %}
                        </div>
                        <!-- Keywords -->
                        <div class="mb-3">
                            <label for="id_keyword" class="form-label">Keywords</label>
                            {% render_field form.keyword class="form-control" %}
                        </div>
                        <!-- Published date -->
                        <div class="mb-3">
                            <label for="id_pub_date" class="form-label">Published date</label>
                            {% render_field form.pub_date class="form-control" type="datetime-local" %}
                        </div>
                        <!-- Content -->
                        <div class="mb-3">
                            <label for="editor" class="form-label">Content</label>
                            <div id="editor"></div>
                            <input type="hidden" name="content" value="{{ form.content.value | default_if_none:'' }}">
                        </div>

                        {% if error or form.errors %}
                            <div class="mb-3">
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                    {{ form.errors }}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    You don't have permission to update this post. Only this post's author can update their post.
                    <a href="{% url 'editor:post.view' post.slug %}" class="btn btn-primary">Go back to post view</a>
                </div>
            {% endif%}
        </div>
    </div>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const Editor = toastui.Editor;

            const editor = new Editor({
                el: document.querySelector('#editor'),
                height: '500px',
                initialValue: document.querySelector("form input[name='content']").value,
                initialEditType: 'wysiwyg',
                previewStyle: 'vertical'
            });

            document.querySelector("form").addEventListener('submit', e => {
                e.preventDefault();
                document.querySelector("form input[name='content']").value = editor.getMarkdown();
                document.querySelector("form").submit();
            })
        })
    </script>

    <script type="module">
        import slug from 'https://cdn.jsdelivr.net/npm/slug@8.2.3/+esm';

        document.querySelector('#id_title').addEventListener('focusout', e => {
            if (document.querySelector('#id_slug').value.length == 0)
                document.querySelector('#id_slug').value = slug(document.querySelector('#id_title').value);
        })
        
        document.querySelector('#id_slug').addEventListener('focusout', e => {
            if (document.querySelector('#id_slug').value.length == 0)
                document.querySelector('#id_slug').value = slug(document.querySelector('#id_title').value);
        })
    </script>

    <script type="module">
        let keywordsField = document.querySelector('#id_keyword') // the 'input' element which will be transformed into a Tagify component
        let tagify = new Tagify(keywordsField, {
        // A list of possible tags. This setting is optional if you want to allow
        // any possible tag to be added without suggesting any to the user.
        // whitelist: ['foo', 'bar', 'and baz', 0, 1, 2]
        });
    </script>
{% include '../partials/foot.html' %}